*{
	margin: 0;
}
body{
	max-width: 100vw;
	max-height: 100vh;
}
#container{
	max-width: 100vw;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: #876ED7;
	height: 100vh;
}
.center{
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	max-width: 100vw;
	max-height: 100vh;
	width: 100vw;
	height: 100vw;
}
.text_example{
	display: flex;
}

.image_example{
	height: 10%;
	width: 12%;
	display: flex;
}
#upper_text{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	text-align: center;
	background: #6A48D7;
}

#lower_text{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	bottom:0;
	width: 100%;
	height: 50px;
	text-align: center;
	font-size: 12px;
	background-color:#6A48D7;
}