body {
	margin: 0;
}

.main_header {
	display: flex;
	align-items: center;
	background-color: #2e323f;
	padding: 0 6rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.logo {
	flex-grow: 1;
	flex-basis: 0;
	color: #fff;
	font-size: 2rem;
}

.header_menu {
	flex-grow: 1;
	flex-basis: 0;
}

.menu_container {
	display: flex;
	justify-content: space-between;
	list-style: none;
}

.menu_item {
	color: #fff;
	text-decoration: none;
	font-size: 18px;
}

.rounded {
	background-color: #a59678;
	padding: 0.25rem 1rem;
	border-radius: 100px;
}

.section_first {
	display: flex;
	background-color: #3b4050;
	padding: 6rem;
}

.section_first_left {
	font-family: 'Oswald', sans-serif;
	font-size: 90px;
	color: #fff;
	line-height: 6rem;
	flex-grow: 1;
	flex-basis: 0;
}

.text_dark {
	color: #a59678;
}

.section_first_right {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	color: #fff;
	flex-grow: 1;
	flex-basis: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.section_first_right .rounded {
	font-family: 'Oswald', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	padding: 0.5rem 3rem;
	align-self: start;
}

.section_second {
	padding: 6rem;
	display: flex;
	justify-content: space-between;
	background-color: #f1f1f1;
	text-align: center;
}

.section_second article:not(:last-child) {
	margin-right: 8rem;
}

.section_second article h2{
	color: #a59678;
	font-family: 'Oswald', sans-serif;
	font-size: 30px;
}

.section_second article p {
	color: #3B4050;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
}

.section_third{
	display: flex;
	background-color: #ffffff;
	padding: 6rem;
}

.section_third_left{
	margin-top: 0;
	padding-right: 13rem;
	flex-grow: 3;
	flex-basis: 0;
}

.section_third_left img{
	width: 45rem;
	height: 30rem;
}

.section_third_left h2{
	margin: 0;
	color: #a59678;
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
}

.section_third_left p{
	color: #3B4050;
	font-family: 'Monserrat Regular', sans-serif;
	font-size: 21px;
	line-height: 2rem;
}

.section_third_right{
	display: flex;
	flex-direction: column;
	color: #FFF;
	text-align: center;
	flex-grow: 1.5;
	flex-basis: 0;
}

.section_third_right article{
	padding: 1rem 2.5rem;
	background-color: #3b4050;
}
.section_third_right H2{
	display: flex;
	flex-direction: column;
	font-family: 'Oswald Bold', sans-serif;
	font-size: 30px;
}

.section_third_right p{
	display: flex;
	flex-direction: column;
	font-family: 'Monserrat Regular', sans-serif;
	font-size: 18px;
}

.section_third_right article:not(:last-child) {
	margin-bottom: 1rem;
}

footer{
	background-color: #3b4050;
	padding: 3.5rem 6rem;
	padding-top: 0.3rem;
	text-align: left;
}

.footer_upper{
    font-family: 'Oswald', sans-serif;
	font-size: 68px;
	text-align: center;
	color: #FFF;
	font-weight: 600;
}

.footer_lower{
	display: flex;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #FFF;
}

.footer_lower H3{
    font-family: 'Oswald', sans-serif;
	font-size: 21px;
	color: #a59678;
}

.footer_lower_left{
	flex-grow: 2;
	flex-basis: 0;
	line-height: 1.5rem;
}

.footer_lower_right{
	display: flex;
	justify-content: space-between;
	margin: 0rem 5rem;
	flex-grow: 3;
	flex-basis: 0;
	text-align: left;
	flex-direction: row;
	line-height: 2.5rem;
}

.footer_lower_right ul{
	justify-content: space-between;
	list-style: none;
	padding-left: 0;
}

.footer_lower_right a{
	color: #fff;
	text-decoration: none;
}

@media screen and (max-width: 320px){
	body{
		display: flex;
		flex-direction: column;
	}

	.main_header{
		display: flex;
		flex-direction: column;
	}

	.menu_container{
		flex-direction: column;
		padding: 0;
	}

	.menu_item{
		text-align: center;
		padding-left: 1.5rem;
	}

	.rounded{
		margin-left: 2px;
		padding: 0.5 0.25rem;
	}

	.section_first{
		flex-direction: column;
	}

	.section_first_left{
		font-size: 40px;
		line-height: 1;
	}

	.section_first_right .rounded{
		padding: 0;
		font-size: 20px;
		text-align: center;
	}

	.section_first_right p{
		font-size: 20px;
	}

	.section_second{
		display: flex;
		flex-direction: column;
		text-align: center;
		padding-right: 4rem;
		font-size: 20px;
		width: 80%;
		margin: 1rem 0;
	}

	.section_second article:last-child{
		margin-right: 8rem;
	}

	.section_second article p{
		font-size: 15px;
		text-align: center;
		padding-top: 0;
		margin: 0;
	}

	.section_second article h2{
		font-size: 20px;
		padding-right: 2rem;
		text-align: center;
		width: 100%;
	}

	.section_third{
		display: flex;
		flex-direction: column;
	}

	.section_second article{
		margin-bottom: 2rem;
	}

	.footer_lower{
		display: flex;
		flex-direction: column;
		margin: 0;
	}

	.section_third_right article{
		padding: 2rem 4rem;
		background-color: #3b4050;
	}


}